.loginPage{
    height: 38.5em;
    display: grid;
    vertical-align: middle !important;
    .login-main{
        .logo-block{
            text-align: center;
        }
        .login-form-block{
            .conteactInput{
                width: 400px;
            }
        }
        
    }
}