.addemp-main{
    .sb-button{
        text-align: right;
    }
    .addemp-form-block{
        padding:2em 0;
        .addemp-form{
            .conteactInput{
                width:250px;
            }
        }
    }
}
