.content-height-100{
    height: 31em;
}
.header-border{
    border-bottom: 1px solid #DFE1E5;
}
.input-error{
    color: red;
}
.flex-buttons{
    padding-top:1.9em;
    button{
        margin-right: .2em;
    }
}
.padding1em{
    padding: 1em;
}
.position-right{
    text-align: right;
}